<section class="subscribe">
  <div class="mail-graphic-wrapper">
    <div class="mail-graphic-content">
      <%= image_tag("mail-news.png", class: "mail-news") %>
    </div>
  </div>

  <div class="sign-up-content">
    <h1 class="big-hook">Stay on top of the legal cannabis industry</h1>
    <h3 class="hook">The only cannabis newsletter you'll ever need - start by signing up below!</h3>
    <%= render "contacts/email" %>
  </div>
</section>
<br />
<hr />

<div class="how-container">
  <h3 class="hook">HERE'S HOW IT WORKS</h3>
  <p>
    You receive just ONE email a day so that you can stay on top of trends, legal decisions, and big opportunities in the fastest growing US industry
  </p>
</div>

<div class="steps-container">
  <div class="step">
    <h3 class="hook">Step 1 <span>Collect</span></h3>
    <%= image_tag("collect.png") %>
    <p>
      We gather all cannabis content posted that day
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 2 <span>Select</span></h3>
    <%= image_tag("select.png") %>
    <p>
     We curate a list of only the most important and relevant content
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 3 <span>Summarize</span></h3>
    <%= image_tag("summarize.png") %>
    <p>
      Experts provide a summary of the day, and you get just one email with only the best content
  </div>
</div>

<div class="final-hook-wrapper">
  <div class="final-hook">
    <p class="hook">
      Save time, stay current, and spot the best deals. <br /> Get started with your email - it is 100% free!
    </p>
    <%= render "contacts/email" %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75422715-1', 'auto');
  ga('send', 'pageview');

</script>
