<section class="subscribe">
  <div class="mail-graphic-wrapper">
    <div class="mail-graphic-content">
      <%= image_tag("mail-news.png", class: "mail-news") %>
    </div>
  </div>

  <div class="sign-up-content">
    <h3 class="hook">The cannabis industry is evovling</h3>
    <h1 class="big-hook">WE CAN HELP</h1>
    <span class="hook">No sign up required, get started with your email</span>
    <%= render "contacts/email" %>
  </div>
</section>

<div class="how-container">
  <h3 class="hook">HOW IT WORKS:</h3>
  <p>
    It's our goal to keep you informed, so you can make smart investment decisions.
  </p>
</div>

<div class="steps-container">
  <div class="step">
    <h3 class="hook">Step 1: <span>Collect</span></h3>
    <%= image_tag("collect.png") %>
    <p>
      Each day, we gather industry news from hundreds of cannabis sites
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 2: <span>Select</span></h3>
    <%= image_tag("select.png") %>
    <p>
      Our professionals curate a list of relavent articles that identify new products,
      trends, and legal decisions.
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 3: <span>Summarize</span></h3>
    <%= image_tag("summarize.png") %>
    <p>
      Get caught up quickly with our daily industry summaries straight to your inbox.
    </p>
  </div>
</div>

<div class="final-hook-wrapper">
  <div class="final-hook">
    <h1 class="big-hook">DON'T MISS OUT</h1>
    <p class="hook">
      Daily Cannabis is here to save you time, and it's easy to get started:
    </p>
    <%= render "contacts/email" %>
  </div>
</div>
