<section class="subscribe">
  <div class="mail-graphic-wrapper">
    <div class="mail-graphic-content">
      <%= image_tag("mail-news.png", class: "mail-news") %>
    </div>
  </div>

  <div class="sign-up-content">
    <h3 class="hook">The cannabis industry is growing quickly</h3>
    <h1 class="big-hook">DON'T MISS OUT</h1>
    <%= render "contacts/email" %>
  </div>
</section>
<br />
<hr />

<div class="how-container">
  <h3 class="hook">HOW IT WORKS:</h3>
  <p>
    We help you make smart business decisions with just one email per day
  </p>
</div>

<div class="steps-container">
  <div class="step">
    <h3 class="hook">Step 1: <span>Collect</span></h3>
    <%= image_tag("collect.png") %>
    <p>
      Each day, we gather industry news from hundreds of cannabis sites
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 2: <span>Select</span></h3>
    <%= image_tag("select.png") %>
    <p>
      Our professionals curate a list of relevant articles, identify new products,
      trends, and legal decisions
    </p>
  </div>
  <div class="step">
    <h3 class="hook">Step 3: <span>Summarize</span></h3>
    <%= image_tag("summarize.png") %>
    <p>
      Daily news summaries are sent straight to your inbox to keep you at the top of the industry
  </div>
</div>

<div class="final-hook-wrapper">
  <div class="final-hook">
    <h1 class="big-hook">WE HELP YOU WIN</h1>
    <p class="hook">
      Save time, stay current, and spot the best deals. <br /> Get started with your email - it is 100% free!
    </p>
    <%= render "contacts/email" %>
  </div>
</div>
