<!DOCTYPE html>
<html>
<head>
  <title>Aggregator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Daily Cannibus</h1>
  </header>

  <div class="messages">
    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>
  </div>

<%= yield %>

  <footer>
    <div class="social-media">
      <button type="button" name="facebook"></button>
      <button type="button" name="twitter"></button>
    </div>
  </footer>
</body>
</html>
