<!DOCTYPE html>
<html>
<head>
  <title>Aggregator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1 class="main-logo" id="main-logo">Daily Cannibus</h1>
  </header>
  <div class="messages">
    <% flash.each do |type, message| %>
      <%= message %>
    <% end %>
  </div>

  <%= yield %>

  <footer>
    <div class="footer-container">
      <div class="social-media">
        <a class="facebook" href="#"></a>
        <a class="twitter" href="#"></a>
        <a class="instagram" href="#"></a>
      </div>
      <span class="copyright">Copyright 2016 Daily Cannabis</span>
    </div>
  </footer>
</body>
</html>
